@media(min-width: 930px){
        .header li{
                float: left;
                margin-left: 20px;
                list-style: none;
        }
}

div.header {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        width:100%;
        margin-bottom: 75px;
        color:#fff;
}

h1.logo {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        font-weight: 400;
        color: #fff;
}
body {
        background-color: rgb(220, 155, 155);
        color: rgb(82, 77, 77);
}
.header li{
        /* float: left; */
        margin-left: 20px;
        list-style: none;
}
.header a {
        text-decoration: none;
        color: #fff;
        padding: 5px;
}
.header a:hover {
    background-color: #fff;
    color: rgb(220, 155, 155);
    border-radius: 2px;;
}

p {
        font-size: 20px
}
p a {
        outline: none;
        text-decoration: none;
        padding: 2px 1px 0;
}

p a:link {
        color: #b04d70;
}

p a:visited {
        color: #b04d70;
}

p a:focus {
        border-bottom: 1px solid;
        background: #feb0aa;
}

p a:hover {
        border-bottom: 1px solid;
        background: #feb0aa;
}

p a:active {
        background: #da5986;
        color: #e09eb5;
}